<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-body">
  <ul class="errors"></ul>
  Are you sure you wish to delete <b><%= @phone.user.name %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to "Yes", phone_path(@phone), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "No", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>
