<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for @phone, remote: true, html: { style: "display:inline;" } do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>
        <% if User.find(current_user.id).role == 'admin' %>
          <div class="form-group">
            <%= f.label :user_id, class:"control-label" %>
            <%= f.collection_select :user_id, User.all, :id, :name, {prompt: "Select user"}, {class: "form-control"} %>
          </div>
        <% else %>
          <%= f.hidden_field :user_id, value: current_user.id %>
        <% end %>
        <div class="form-group">
          <%= f.label :phone, class: "control-label" %>
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary", id: "btn-submit" %>
        <%= link_to "Cancel", "#", class: "btn btn-danger", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>
