<% @phones.each do |phone| %>
  <tr>
    <td><%= phone.user.name %></td>
    <td><%= phone.phone %></td>
    <td><%= link_to "Edit", edit_phone_path(phone), remote: true, class: "btn btn-default" %></td>
    <td><%= link_to "Delete", phone_delete_path(phone), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>
