<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to "New Phonebook", new_phone_path, remote: true, class: "btn btn-primary", style:"color:#fff;" %></h3>
    </div>
    <div class="panel-body">
      <div class="new-phone"></div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody class="phone-index">
          <%= render "index" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="phone-modal" class="modal fade"></div>
