<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Address <%= link_to "New", new_address_path, class: "btn btn-success btn-xs" %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Address</th>
          <th>City</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.address %></td>
            <td><%= address.city %></td>
            <td>
              <div class="btn-group btn-group-sm">
                <%= link_to "Detail", edit_address_path(address), class: 'btn btn-primary' %>
                <%= link_to "Delete", address, class: 'btn btn-danger', method: :delete,
                                                                        data: {confirm: 'Are you sure?'} %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
