<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">New Address</h3>
  </div>
  <div class="panel-body">

    <%= form_for(@address) do |f| %>
    <% if @address.errors.any? %>
     <div id="error_explanation">
      <% @address.errors.full_messages.each do |message| %>
       <div class="alert alert-danger alert-dismissible fade in" role=alert>
         <button type=button class=close data-dismiss=alert aria-label=Close><span aria-hidden=true>&times;</span></button>
         <%= message %>
       </div>
      <% end %>
     </div>
    <% end %>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address,class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city,class: 'form-control' %>
      </div>

      <%= f.submit "Save", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
